.MuiDataGrid-main>div:last-child {
  display: none
}

.MuiDataGrid-filterFormColumnInput,
.MuiDataGrid-filterFormOperatorInput {
  justify-content: end;
}

.MuiDataGrid-filterFormValueInput {
  width: auto !important;
}

.MuiDataGrid-toolbarContainer {
  flex-wrap: nowrap !important;
}

body {
  padding: 0;
  margin: 0;
}